{margin: 0;
padding: 0;}
body
{background-image: url("android.jpeg");}
h1,h2,h3,h4,footer,nav { color: yellow; }
h1
 {font-size: 70px;
 }
 h1
 {background-image: url("tecandroid.jpg");}
 shadow4 h1 { 
  color: black; 
  text-shadow: skyblue 0px 0px 0px 4px; 
}

nav
{font-size: 35px;
 }